


ion-card-title {
    font-size:1.8rem;
    width:100%;
    font-weight:bold;
    color:#fff;
    font-family:"Limelight";
  }

ion-card-subtitle {
    font-size:1.3rem;
    width:100%;
    color:#fff;
    font-family:"Oswald";
  }