
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" [routerLink]="['/home']">
          <ion-back-button default-href="#"></ion-back-button>
        </ion-buttons>
      <ion-title>BarCode : Mocktails</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 

    <ion-card>
      <!--<img alt="drink1" src="-" style="width:100%; height:auto;"/>-->
      <ion-card-header>
        <ion-card-title>Shirley Temple</ion-card-title>
        <ion-card-subtitle>if you have a sweet tooth, this is for you</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        ginger ale, grenadine
      </ion-card-content>
    </ion-card>

    <ion-card>
      <!--<img alt="drink3" src="-" style="width:100%; height:auto;"/>-->
      <ion-card-header>
        <ion-card-title>Arnold Palmer</ion-card-title>
        <ion-card-subtitle>a refreshing mixed drink created by the golf legend</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        iced tea, lemonade
      </ion-card-content>
    </ion-card>

    <ion-card>
      <!--<img alt="drink2" src="-" style="width:100%; height:auto;"/>-->
      <ion-card-header>
        <ion-card-title>Prairie Oyster</ion-card-title>
        <ion-card-subtitle>considered as a hangover remedy</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        raw egg yolk, Worcestershire sauce, vinegar, hot sauce, salt, black pepper
      </ion-card-content>
    </ion-card>

  </ion-content>

</div>